[alias]
	a = add
	b = branch
	c = commit
	co = checkout
	d = diff
	dc = diff --cached
	du = diff @{upstream}
	f = fetch
	fix = commit --fixup
	fp = fetch --prune
	grep-blame = "!g() { git -P grep -n $1 $2 | while IFS=: read -r file line _match; do git -P blame -f -L $line,$line $file; done; }; g"
	l = lol
	lol = !git log --graph --decorate --abbrev-commit --all --pretty='format:%C(auto)%h %d %s %C(green)[%an] %C(bold blue)%ad' --date=relative || true
	ls-ignored = ls-files -o -i --exclude-standard
	p = push
	pr = "!g() { if [ -z \"${1:-}\" -o -z \"${2:-}\" ]; then echo 'usage: git pr <remote> <pr-number>'; return 1; fi; git fetch $1 pull/$2/head:pr-$2 && git switch pr-$2; }; g"
	re = "!g() { git rebase -i --autostash --autosquash --update-refs $(git merge-base \"${1:-origin/HEAD}\" HEAD); }; g"
	reto = "!g() { git rebase --autostash --autosquash --update-refs \"${1:-origin/HEAD}\"; }; g"
	s = status --short
	st = status
	sw = switch

[advice]
	skippedCherryPicks = false
[branch]
	sort = committerdate
[color]
	ui = auto
[core]
	excludesFile = ~/.config/git/ignore
	hooksPath = ~/.config/git/hooks
[diff]
	algorithm = histogram
	colorMoved = zebra # blocks, or plain
	mnemonicPrefix = true
	renames = true
[grep]
	patternType = perl
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	default = upstream
[rebase]
	# autoSquash = true
	# autoStash = true
	# updateRefs = true
[tag]
	sort = version:refname
[user]
	name = Jaakko Kantojärvi
	email = jaakko@n-1.fi

; this must be last
[include]
	path = ~/.gitconfig.local

;  vim: set ts=4 sw=4 tw=0 noet :
