[alias]
	a = add
	d = diff
	l = !git log --graph --decorate --pretty=oneline --abbrev-commit --all || true
	lol = !git log --graph --decorate --pretty=oneline --abbrev-commit --all || true
	ls-ignored = ls-files -o -i --exclude-standard
	s = status --short
[color]
	ui = auto
[core]
	excludesFile = ~/.config/git/ignore
	hooksPath = ~/.config/git/hooks
[init]
	defaultBranch = master
[pull]
	ff = only
[user]
	name = Jaakko Kantojärvi
	email = jaakko@n-1.fi

[include]
	path = ~/.gitconfig.local

;  vim: set ts=4 sw=4 tw=0 noet :
