[alias]
	a = add
	c = commit
	co = checkout
	d = diff
	dc = diff --cached
	f = fetch
	fix = commit --fixup
	fp = fetch --prune
	l = lol
	lol = !git log --graph --decorate --abbrev-commit --all --pretty='format:%C(auto)%h %d %s %C(green)[%an] %C(bold blue)%ad' --date=relative || true
	ls-ignored = ls-files -o -i --exclude-standard
	p = push
	re = !sh -c 'git rebase -i --autostash --autosquash $(git merge-base "${1:-origin/HEAD}" "HEAD")' -
	reto = !sh -c 'git rebase --autostash --autosquash "${1:-origin/HEAD}"' -
	s = status --short
	st = status
	sw = switch
[color]
	ui = auto
[core]
	excludesFile = ~/.config/git/ignore
	hooksPath = ~/.config/git/hooks
[advice]
	skippedCherryPicks = false
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	default = upstream
[user]
	name = Jaakko Kantojärvi
	email = jaakko@n-1.fi

; this must be last
[include]
	path = ~/.gitconfig.local

;  vim: set ts=4 sw=4 tw=0 noet :
