[submodule "vim/.vim/_git/editorconfig-vim"]
	path = vim/.vim/_git/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/_git/vim-better-whitespace"]
	path = vim/.vim/_git/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/.vim/_git/vim-commentary"]
	path = vim/.vim/_git/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/_git/vim-vinegar"]
	path = vim/.vim/_git/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
