[submodule "vim/.vim/_git/editorconfig-vim"]
	path = vim/.vim/_git/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/_git/vim-ale"]
	path = vim/.vim/_git/vim-ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/_git/vim-better-whitespace"]
	path = vim/.vim/_git/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/.vim/_git/vim-commentary"]
	path = vim/.vim/_git/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/_git/vim-elixir"]
	path = vim/.vim/_git/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/.vim/_git/vim-json5"]
	path = vim/.vim/_git/vim-json5
	url = https://github.com/gutenye/json5.vim.git
[submodule "vim/.vim/_git/vim-jsonnet"]
	path = vim/.vim/_git/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "vim/.vim/_git/vim-vinegar"]
	path = vim/.vim/_git/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
