[submodule "copilot/.config/vim/pack/github/opt/copilot.vim"]
	path = copilot/.config/vim/pack/github/opt/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "node/.local/share/nvm"]
	path = node/.local/share/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "node/.local/share/zsh/plugins/zsh-nvm"]
	path = node/.local/share/zsh/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
[submodule "vim/.config/vim/pack/config/start/editorconfig-vim"]
	path = vim/.config/vim/pack/config/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.config/vim/pack/editor/start/vim-ale"]
	path = vim/.config/vim/pack/editor/start/vim-ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.config/vim/pack/editor/start/vim-better-whitespace"]
	path = vim/.config/vim/pack/editor/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/.config/vim/pack/editor/start/vim-commentary"]
	path = vim/.config/vim/pack/editor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.config/vim/pack/file/start/ansible-vim"]
	path = vim/.config/vim/pack/file/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "vim/.config/vim/pack/file/start/vim-elixir"]
	path = vim/.config/vim/pack/file/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/.config/vim/pack/file/start/vim-json5"]
	path = vim/.config/vim/pack/file/start/vim-json5
	url = https://github.com/gutenye/json5.vim.git
[submodule "vim/.config/vim/pack/file/start/vim-jsonnet"]
	path = vim/.config/vim/pack/file/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "vim/.config/vim/pack/file/start/vim-terraform"]
	path = vim/.config/vim/pack/file/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim/.config/vim/pack/util/start/vim-vinegar"]
	path = vim/.config/vim/pack/util/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "zsh/.local/share/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
